<div class="text-center">
  <p class="fs-1 m-3">FAST FOOD</p>
  <app-product-item [products]="fastFoodProducts" [current_order]="order"></app-product-item>
</div>
<div class="text-center">
  <p class="fs-1 m-3">DRINKS</p>
  <app-product-item [products]="drinksProducts" [current_order]="order"></app-product-item>
</div>
<div class="text-center">
  <p class="fs-1 m-3">BURGERS</p>
  <app-product-item [products]="burgerProducts" [current_order]="order"></app-product-item>
</div>
<p class="text-center">
  <button type="button" class="btn btn-primary btn-lg m-3" (click)="goToCard()">Go to Cart</button>
</p>
